@media screen and (min-width:1500px) and (max-width:2000px) {

    .content-info-ariel,
    .content-info-bighero {
        width: 38% !important;
    }

    .carrrer-content {
        top: 26% !important;
    }

    .footer-container2 {
        gap: 8% !important;
    }

    .bg-content {
        left: 34% !important;
    }
}

@media screen and (min-width:1400px) {
    .menu-overlay {
        height: 100%;
        justify-content: space-between;
    }

    .link {
        padding: 34px 0px;
    }

    .n-h1,
    .n-h2,
    .n-h3,
    .n-h4 {
        height: 70px !important;
    }
}

@media screen and (max-width:1230px) {
    div ul {
        flex-wrap: wrap;
    }
}

@media screen and (min-width:771px) and (max-width:900px) {
    .grp-div p {
        font-size: 9px !important;
    }
}

@media screen and (min-width:771px) and (max-width:1131px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .bg-grey-content {
        width: 70%;
    }

    .grp-img {
        height: 200px !important;
    }

    .grp h1 {
        font-size: 32px !important;
    }

    .grp p {
        font-size: 15px !important;
        line-height: 1.3rem;
    }

    .content-info-bighero {
        width: 70% !important;
    }

    .initial h1,
    .initial-1 h1,
    .initial-2 h1 {

        font-size: 22px !important;
    }

    .overlay-p {
        color: black;
        font-size: 14px;
        line-height: 1.2rem;
    }

    .content-info-ariel h1 {
        font-size: 30px !important;
    }

    .overlay-h1 {
        color: black;
        font-size: 25px !important;
    }

    .content .overlay {
        gap: 12px
    }

    ;

    .initial p,
    .initial-1 p,
    .initial-2 p {
        font-size: 12px !important;
    }

    .content-info-bighero h1 {
        font-size: 27px !important;
    }

    .content-info-bighero p {
        line-height: 1.4em;
        font-size: 15px !important;
    }

    .group {
        grid-template-columns: auto auto auto !important;
    }

    .grp-div p {
        font-size: 14px !important;
    }

    .container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .content:nth-child(3) {
        grid-column: span 2 !important;
    }

    .container-7-grid {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1000px) {
    .container-7-grid {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:770) and (max-width:621) {
    .group {
        grid-template-columns: auto auto auto !important;
    }
}

/* @media (max-width: 992px){
    p.initial-p {
        display: none;
    }} */
@media screen and (min-width: 770px) {
    p.initial-p {
        display: none !important;
    }

    .red,
    .orange,
    .green,
    .purple,
    .blue,
    .yellow {
        display: none !important;
    }

    h1 a {
        font-size: 22px !important;
    }

    .n-p {

        font-size: 16px !important;
    }

    .carrrer-content {
        top: 10%;
        font-size: 32px !important;
    }
}

@media screen and (max-width:770px) {
    .group {
        grid-template-columns: auto auto auto !important;
    }

    .n-p {
        line-height: 2rem;
        color: white;
        font-size: 16px !important;
    }

    h1 a {
        font-size: 24px !important;
    }

    p {
        font-size: 14px !important;
    }

    .grp-img {
        height: 152px !important;
    }

    .footer-container2 {
        flex-direction: column-reverse !important;
    }

    .footer-container {

        flex-direction: column !important;
    }

    div ul {
        flex-wrap: wrap !important;
        gap: 8% !important;
    }

    .bg-grey-content {
        width: 100% !important;
    }

    .bg-grey-content h1 {
        font-size: 29px !important;
    }

    .bg-grey-content p {
        font-size: 15px !important;
        line-height: 1.3rem !important;
    }

    .content .initial-1,
    .initial-2 {
        left: 42% !important;
    }

    .content .initial {
        left: 42% !important;
    }

    .container-7-grid {

        grid-template-columns: 1fr !important;
    }

    .logo img {
        height: 30px !important;
    }

    .hamburger span {
        height: 10px;
        width: 24%;
        border-radius: 98px;
    }

    .container {
        grid-template-columns: 1fr !important;
    }

    .content-info-ariel {
        width: 80% !important;
    }

    .content-info-ariel h1 {
        font-size: 26px !important;
        width: 100% !important;
    }

    .initial h1,
    .initial-1 h1,
    .initial-2 h1 {
        font-size: 24px !important;

        background: rgb(0 0 0 / 0%) !important;
    }

    .initial p,
    .initial-1 p,
    .initial-2 p {


        background: rgb(0 0 0 / 0%) !important;
    }

    .overlay-p {

        width: 100% !important;
        text-align: justify;
    }

    .content-info-bighero {
        width: 80% !important;
    }

    .content-info-bighero p {
        font-size: 13px !important;
    }

    .content-info-bighero h1 {
        font-size: 24px !important;
    }

    .content {
        background: black;
    }

    .content img {
        opacity: 0.6;
    }

    .footer-container {
        gap: 22px;
    }

    .footer-container2 {
        flex-direction: column-reverse;
        gap: 25px;
    }

    /* p.initial-p {
        visibility: visible;
        opacity: 1;
        height: auto;
        width: 100%;
        max-width: 350px;
    } */

    div ul {
        flex-wrap: wrap;
        line-height: 1.6rem !important;
    }

    .faq-column {
        width: 100% !important;
    }

    .faq-container {
        flex-direction: column;
        gap: 0px !important;
    }

    .grp h1 {
        font-size: 33px !important;
    }

    .menu-overlay {

        width: 71% !important;
    }

    .n-h1,
    .n-h2,
    .n-h3,
    .n-h4 {

        height: 76px !important;
    }

    video,
    .hero {
        object-fit: cover;
        height: 390px;
        width: 100%;
    }

    .bg-grey-content p {
        font-size: 15px !important;
    }

    .footer-container {

        flex-direction: column;

    }

}





@media screen and (min-width:421px) and (max-width:620px) {
    .group {
        padding: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .btn-blk button {
        font-size: 12px !important;
        width: 226px !important;
        height: 37px !important;
    }

    .menu-overlay {
        width: 60% !important;
    }

    .n-p {
        color: white;
        font-size: 13px !important;
    }

    .footer-container2 {
        flex-direction: column-reverse;
    }

    .footer-container {
        gap: 16px;
    }

    a {
        font-size: 20px !important;
    }

    .menu-overlay {
        height: 100%;
    }

    div ul {
        flex-wrap: wrap;
        gap: 8%;
        line-height: 1.6rem !important;
    }

    .bg-grey-content h1 {
        font-size: 29px;
    }

    .bg-grey-content {
        width: 100% !important;
    }

    .bg-grey-content p {
        font-size: 15px !important;
        line-height: 1.3rem;
    }

    .grp-img {
        height: 148px !important;
    }

    .grp-div p {
        font-size: 11px !important;
    }

    .faq-column {
        width: 100%;
    }

    .faq-container {
        flex-direction: column;
        gap: 0px;
    }

    .grp {
        width: 70% !important;
    }

    .grp h1 {
        font-size: 17px !important;
    }

    .grp p {
        font-size: 14px !important;
    }

    .content .initial,
    .initial-1,
    .initial-2 {
        left: 42% !important;
    }

}

@media screen and (min-width:300px) and (max-width:420px) {
    .grp p {
        font-size: 14px !important;
    }

    .footer-container {
        gap: 16px;
    }

    .content-info-ariel h1 {
        font-size: 19px !important;
    }

    .n-p {
        color: white;
        font-size: 13px !important;
    }

    .menu-overlay {
        width: 60% !important;
    }

    a {
        font-size: 20px !important;
    }

    .grp h1 {
        font-size: 17px !important;
    }

    .grp {
        width: 70% !important;
    }

    .faq-column {
        width: 100%;
    }

    .faq-container {
        flex-direction: column;
        gap: 0px;
    }

    .group {

        grid-template-columns: auto !important;
    }

    .grp h1 {
        width: 101% !important;
        font-size: 20px;
    }

    .footer-container2 {
        flex-direction: column-reverse;
    }

    .logo img {
        height: 25px !important;
    }

    .btn-blk button {
        width: 198px;
        height: 44px;
    }

    p {
        font-size: 14px !important;
    }

    div ul {
        flex-wrap: wrap !important;
        gap: 8% !important;
        line-height: 1.6rem !important;
    }

    .initial h1,
    .initial-1 h1,
    .initial-2 h1 {
        font-size: 18px !important;
    }

    .menu-overlay {
        width: 100% !important;
    }

    .initial p,
    .initial-1 p,
    .initial-2 p {


        background: rgb(0 0 0 / 0%) !important;
    }

    .hamburger {
        gap: 8px !important;
        width: 33px !important;
        height: 45px !important;
    }

    .bg-grey-content h1 {
        font-size: 29px;
    }

    .bg-grey-content {
        width: 100% !important;
    }

    .i-img p {
        white-space: nowrap;
        font-size: 14px !important;
    }

    .img-foot {

        flex-direction: column;
        gap: 2px;
    }

    .content .initial,
    .initial-1,
    .initial-2 {
        left: 42% !important;
    }

    .overlay-h1 {
        font-size: 24px !important;
    }

    .foot-hover {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    /* .initial p,
    .initial-1 p,
    .initial-2 p {

        width: 88%;
    } */
    p.initial-p {
        width: 100%;
    }

    .n-i-img {
        flex-wrap: wrap;
    }

    .carrrer-content {
        font-size: 26px !important;
        top: 19% !important;
    }
    .carrrer-content {
        font-size: 22px !important;
        top: 24% !important;
    }
    .n-h1, .n-h2, .n-h3, .n-h4 {
        height: 60px !important;
    }

    .btn-blk button {
        font-size: 10px;
    }
}